#body{
    background-color: teal;
}
#total{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    color: white;
}

#header{
    font-size: 200%;
    grid-row: 1;
    font-size: 50; 
    width: 1300px;
    display: flex;
    justify-content: center;
}

#middletext{
    grid-row: 2;
    width: 1300px;
    display: flex;
    justify-content: center;
}

#middle1{   
    grid-row: 3;
    width: 1300px;
    display: flex;
    justify-content: center;
}

#middle2{   
    grid-row: 4;
    width: 1300px;
    display: flex;
    justify-content: center;
}

#middle3{   
    grid-row: 5;
    width: 1300px;
    display: flex;
    justify-content: center;
}

#footer{
    grid-row: 6;
    width: 1300px;
    display: flex;
    justify-content: center;
}

#submitone{
    color: white;
    background-color: teal;
    width: 150px;
    height: 50px;
}
