#body{
    background-color: teal;
}
#total{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    color: white;
}

#header{
    
    font-size: 200%;
    /* grid-column: 1 / 3; */
    grid-row: 1;
    font-size: 50; 
    /* border-color: black; */
    width: 1300px;
}

#middle{   
    grid-row: 2;
    width: 1300px;
}


#footer{
    grid-row: 3;
    width: 1300px;
}