<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/results.css" rel="stylesheet">

</head>
<body>
    <div id = "total">
        <div id = "header">
            <p>The headset that would fit your needs the most is:</p>
        </div>
        <div id = "middle">
            <p id = "headset"></p>
        </div>

        <div id = "footer">
            <p>Thanks for playing</p>
        </div>
    </div>
</body>
</html>