<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quiz.css') }}?q={{ time }}" />

</head>
<body id = "body">
    <div id = "total">
        <div id = "header">
            The Sorting Headset
        </div>
        <div id = "middle">
            <p id = "question1">What platform do you play on?</p>
            <form method = "post" action = "/results">
            <select class = "platform" name = "platform" > Platform
                <option value = "ps4">Playstation 4</option>
                <option value = "xbox">Xbox One</option>
                <option value = "pc">PC</option>
                <option value = "nintendo switch">Nintendo Switch</option>
                <option value = "phone">Phone</option>
            </select>

            <p>What's your favorite video game genre?</p>
            <select name = "genre">
                <option value = "battleroyale">Battle Royale</option>
                <option value = "rpg">Role Playing Game</option>
                <option value = "fps">First Person Shooter</option>
                <option value = "sim">Simulator</option>
                <option value = "strategy">Strategy</option>

            </select>
            <p>Where is your setup?</p>
            <select name = "setup">
                <option value = "desk">Desk/Room</option>
                <option value = "livingroom">Couch in the living room</option>
                <option value = "office">Office/work</option>
            </select>
            <input type = "submit" value = "submit"> 
            </form>
        </div>

        <div id = "footer">
            
        </div>

    </div>
</body>
</html>